<div class="container">

  <user-pref 
    ng-if="UserInfoCtrl.userPref"
    firstname="UserInfoCtrl.userPref.first_name"
    lastname="UserInfoCtrl.userPref.last_name"
    phone="UserInfoCtrl.userPref.phone"
    fav-item-title="UserInfoCtrl.userPref.menuItem.name"
    fav-item-name="UserInfoCtrl.userPref.menuItem.short_name"
    fav-item-desc="UserInfoCtrl.userPref.menuItem.description"
    fav-item-img-url="UserInfoCtrl.imgUrl">
  </user-pref>

<div ng-if="!UserInfoCtrl.userPref"> <h1> Not Signed Up Yet. Sign up Now!</h1> </div>
</div>
  