<div class="container" class="form-group">
    <legend>Registration</legend>

    <div ng-if="SignUpCtrl.submitted">
        <h1> Your information has been saved</h1>
    </div>

    <form name='signupForm' novalidate>

      <input type="text" class="form-control" name="first_name" placeholder="first name"
        ng-model="SignUpCtrl.user.first_name"
        required
        minlength="2"
        ng-maxlength="40">
        <span
          ng-if="(signupForm.first_name.$error.minlength || signupForm.first_name.$error.required) && signupForm.first_name.$touched">
          First name  must be at least 2 characters long
        </span>
        <span ng-if="signupForm.first_name.$error.maxlength && signupForm.first_name.$touched">
          First name must not be longer than 10 characters
        </span>
        <br>

        <input type="text"  class="form-control" name="last_name" placeholder="last name"
        ng-model="SignUpCtrl.user.last_name"
        required
        minlength="2"
        ng-maxlength="40">
        <span
          ng-if="(signupForm.last_name.$error.minlength || signupForm.last_name.$error.required) && signupForm.last_name.$touched">
          Last name must be at least 2 characters long
        </span>
        <span ng-if="signupForm.last_name.$error.maxlength && signupForm.last_name.$touched">
          Last name must not be longer than 10 characters
        </span>
        <br>

      <input type="text" class="form-control" name="phone" placeholder="Phone ###-###-####"
        ng-model="SignUpCtrl.user.phone"
        pattern="(\d{3})-(\d{3})-(\d{4})">
        <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
          Phone must be in the format ###-###-####.
        </span>
        <br>

        <input type="text"  class="form-control" name="menu_number" placeholder="menu number"
            ng-model="SignUpCtrl.user.menu_number">
        <br>

        <div ng-if="SignUpCtrl.menuItemError">
            <h4>No such menu number exists ({{SignUpCtrl.menuItemNumberIncorrect}}) </h4>
        </div>

        <button
        class="btn btn-primary"
        ng-disabled="signupForm.$invalid"
        ng-click="SignUpCtrl.submit()">Submit</button>
    </form>


</div>